<header>
    <h1>Watt-Now</h1>
</header>

<main>

  <form action="/devices" method="post">
    <div class="device container">
      <label>
        <span>Device name:</span>
        <input type="text" value="" name="device" placeholder="Device name" required>
      </label>
      <br>
      <label>
        <span>User key:</span>
        <input type="text" value="" name="key" placeholder="User key" required>
      </label>
    </div>
    <hr>
    <div class="device container">
      <label>
        <span>Device name:</span>
        <input type="text" value="" name="device" placeholder="Device name" required>
      </label>
      <br>
      <label>
        <span>User key:</span>
        <input type="text" value="" name="key" placeholder="User key" required>
      </label>
    </div>
    <label for="submit">
      <input type="submit" value="Save" id="submit">
    </label>
  </form>

</main>