<header>
    <h1>Watt-Now</h1>
</header>

<section class="alert"></section>

<aside>
    <table class="table">
        <thead></thead>
        <caption>Recieved data</caption>
        <tbody>
            <tr>
                <th>Zone</th>
                <th>Generator type</th>
                <th>Volt/A</th>
                <th>Fuel</th>
            </tr>
        </tbody>
        <tbody>
            <tr class="zone1">
                <td>Zone 1<span></td>
                <td>63A</td>
                <td>50 V/h</td>
                <td>0.5 L/m</td>
            </tr>
            <tr class="zone2">
                <td>Zone 2</td>
                <td>125A</td>
                <td>110 V/h</td>
                <td>4 L/m</td>
            </tr>
            <tr class="zone3">
                <td>Zone 3</td>
                <td>16A</td>
                <td>12 V/h</td>
                <td>0.2 L/m</td>
            </tr>
            <tr class="zone4">
                <td>Zone 4</td>
                <td>63A</td>
                <td>50 V/h</td>
                <td>0.5 L/m</td>
            </tr>
            <tr class="zone5">
                <td>Zone 5</td>
                <td>400A</td>
                <td>350 V/h</td>
                <td>5 L/m</td>
            </tr>
        </tbody>
    </table>
</aside>

<main>
    <section class="graphButtons">
        <button type="button" id="button-linechart-va" class="btn btn-primary active">Volt-Ampere</button>
        <button type="button" id="button-linechart-phase" class="btn btn-secondary ">Volt-Ampere (Phases)</button>
        <button type="button" id="button-linechart-fuel" class="btn btn-secondary">Fuel</button>

        <select name="generatorSelection" id="selectGenerator">
            <option>Generator 1</option>
            <option>Generator 2</option>
            <option>Generator 3</option>
            <option>Generator 4</option>
            <option>Generator 5</option>
        </select>
    </section>
    <section>
            <canvas id="linechart-va"></canvas>
            <canvas id="linechart-phase"></canvas>
            <canvas id="linechart-fuel"></canvas>
    </section>
</main>
