<header>
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
</header>

<aside>
        <section class="item">
                <p>zone</p>
                <h2>1</h2>
        </section>
        <section class="item">
                <p>zone</p>
                <h2>2</h2>
        </section>
        <section class="item">
                <p>zone</p>
                <h2>3</h2>
        </section>
</aside>

<main>
        <section>
                <canvas id="linechart-va"></canvas>
                <canvas id="linechart-temp"></canvas>
                <canvas id="linechart-fuel"></canvas>
        </section>
</main>