<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    {{{body}}}
    <script id="socketScript" src="javascripts/vendors/socket.io.min.js"></script>
    <script id="socketScript" src="javascripts/vendors/chart.bundle.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
